<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>	
	

	<typeAliases>
		<typeAlias type="com.kh.teaspoon.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.teaspoon.board.model.vo.Board" alias="Board"/>
		<typeAlias type="com.kh.teaspoon.admin.model.vo.Grade" alias="Grade"/>
		<typeAlias type="com.kh.teaspoon.space.model.vo.Space" alias="Space"/>
		<typeAlias type="com.kh.teaspoon.space.model.vo.Goods" alias="Goods"/>
		<typeAlias type="com.kh.teaspoon.space.model.vo.Payment" alias="Payment"/>
		<typeAlias type="com.kh.teaspoon.space.model.vo.Store" alias="Store"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/admin_mapper.xml"/>
		<mapper resource="mappers/board-mapper.xml"/>
		<mapper resource="mappers/space-mapper.xml"/>
		<mapper resource="mappers/store-mapper.xml"/>
	</mappers>
</configuration>
