.c_div{float:left; width:100%; height:100%; margin:0 auto; border-top:2px solid lightgray; padding-top:15px}
.c_div_title>p{margin:0 auto; margin:10px; text-align:left; font-size:18px;}
.c_div_cont{margin:0 auto; margin:10px}