<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap id="memberResultSet" type="Member">
  	  		<id column="USER_NO" property="userNo"/>
  	  		<result column="GRADE_NO" property="gradeNo"/>
  	  		<result column="USER_ID" property="userId"/>
  	  		<result column="USER_PWD" property="userPwd"/>
  	  		<result column="USER_NAME" property="userName"/>
  	  		<result column="GENDER" property="gender"/>
  	  		<result column="BIRTHDAY" property="birthday"/>
  	  		<result column="PHONE" property="phone"/>
  	  		<result column="EMAIL" property="email"/>
  	  		<result column="ENROLL_DATE" property="enrollDate"/>
  	  		<result column="BUY_SUM" property="buySum"/>
  	  		<result column="POINT_SUM" property="pointSum"/>
  	  		<result column="MODIFY_DATE" property="modifyDate"/>
  	  		<result column="ADMIN" property="admin"/>
  	  		<result column="STATUS" property="status"/>
  	  		<result column="ADDRESS" property="address"/>
  	  </resultMap>
  	  
  	  <select id="loginMember" resultMap="memberResultSet" parameterType="Member">
			<!-- 암호화전 -->
			<!-- select *
			  from member  
			 where user_id=#{userId}
			   and user_pwd=#{userPwd} 
			   and status='Y' -->
			   
			<!-- 암호화 후 -->
			select *
			  from member  
			 where user_id=#{userId}
			   and status='Y'
	  </select>
	  
	  <update id="updateMember" parameterType="Member">
	  		update member
	  		   set PHONE=#{phone}, USER_PWD=#{userPwd}, EMAIL=#{email}
	  		 where USER_ID=#{userId}
	  </update>
  	  
</mapper>
