<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap id="memberResultSet" type="Member">
  	  		<id column="USER_NO" property="userNo"/>
  	  		<result column="GRADE_NO" property="gradeNo"/>
  	  		<result column="USER_ID" property="userId"/>
  	  		<result column="USER_PWD" property="userPwd"/>
  	  		<result column="USER_NAME" property="userName"/>
  	  		<result column="GENDER" property="gender"/>
  	  		<result column="BIRTHDAY" property="birthday"/>
  	  		<result column="PHONE" property="phone"/>
  	  		<result column="EMAIL" property="email"/>
  	  		<result column="ENROLL_DATE" property="enrollDate"/>
  	  		<result column="BUY_SUM" property="buySum"/>
  	  		<result column="POINT_SUM" property="pointSum"/>
  	  		<result column="MODIFY_DATE" property="modifyDate"/>
  	  		<result column="ADMIN" property="admin"/>
  	  		<result column="STATUS" property="status"/>
  	  		<result column="ADDRESS" property="address"/>
  	  </resultMap>
  	  
  	  <resultMap id="myPageResultSet" type="com.kh.teaspoon.member.model.vo.MemberDTO">
  	  		<id column="USER_NO" property="userNo"/>
  	  		<result column="USER_NAME" property="userName"/>
  	  		<result column="GRADE_name" property="gradeName"/>
  	  		<result column="point_sum" property="pointSum"/>
  	  		<result column="couponcount" property="couponCount"/>
  	  		<result column="wishlistCount" property="wishlistCount"/>
  	  </resultMap>
  	  
  	   <resultMap id="selectListCoupon" type="com.kh.teaspoon.member.model.vo.MemCoupon">
  	  		<id column="USER_NO" property="userNo"/>
  	  		<result column="coupon_no" property="couponNo"/>
  	  		<result column="use" property="use"/>
  	  		<result column="order_no" property="order_no"/>
  	  		<result column="start_date" property="startDate"/>
  	  		<result column="end_date" property="endDate"/>
  	  		<result column="coupon_name" property="couponName"/>
  	  		<result column="discount_m" property="discountM"/>
  	  </resultMap>
  	  <resultMap id="selectMtm" type="com.kh.teaspoon.member.model.vo.MenToMen">
  	  		<id column="MTM_NO" property="mtmNo"/>
  	  		<result column="USER_NO" property="userNo"/>
  	  		<result column="MTM_TYPE" property="mtmType"/>
  	  		<result column="MTM_TITLE" property="mtmTitle"/>
  	  		<result column="MTM_CONTENT" property="content"/>
  	  		<result column="CREATE_DATE" property="createDate"/>
  	  		<result column="RE_COMMENT" property="reComment"/>
  	  		<result column="COMMENT_DATE" property="commentDate"/>
  	  		<result column="SEND_EMAIL" property="sendEmail"/>
  	  		<result column="ANSWER" property="answer"/>
  	  		<result column="STATUS" property="status"/>
  	  	
  	  </resultMap>
  	  
  	  
  	  
  	  
  	  <select id="loginMember" resultMap="memberResultSet" parameterType="Member">
			<!-- 암호화전 -->
			<!-- select *
			  from member  
			 where user_id=#{userId}
			   and user_pwd=#{userPwd} 
			   and status='Y' -->
			   
			<!-- 암호화 후 -->
			select *
			  from member  
			 where user_id=#{userId}
			   and status='Y'
	  </select>
	  
	  <update id="updateMember" parameterType="Member">
	  		update member
	  		   set PHONE=#{phone}, USER_PWD=#{userPwd}, EMAIL=#{email}
	  		 where USER_ID=#{userId}
	  </update>
	  
	  <select id="selectMyPage" parameterType="Member" resultMap="myPageResultSet">
	  	select DISTINCT  
	  	       user_No,
		  	   user_Name, 
		  	   point_sum,
		  	   GRADE_NAME,
			   (select count(*) from mem_coupon WHERE USER_NO=#{userNo})AS COUPONCOUNT,
			   (select count(product_no) fROm WISH_LIST WHERE USER_NO=#{userNo})AS WISHLISTCOUNT
		  FROM MEMBER M
		  LEFT JOIN WISH_LIST W USING (USER_NO)
	      LEFT JOIN mem_coupon C USING (USER_NO)
	      LEFT JOIN MEM_GRADE G USING (GRADE_NO)
		 WHERE USER_NO =#{userNo}
	  
	  </select> 
	  
	  <select id="selectListCoupon" parameterType="com.kh.teaspoon.member.model.vo.MemCoupon"  resultMap="selectListCoupon">
	  	<![CDATA[
	  	select *
		  from mem_coupon
	      join coupon using (coupon_no)
	     where user_no=#{userNo} and use='N'
		   and ROWNUM < 3
		 order by start_date desc
		  ]]>
	  </select> 
	  
	  <select id="selectListCount" parameterType="_int" resultType="_int">
	  	SELECT COUNT(*)
		  FROM MEN_TO_MEN
		 WHERE USER_NO = #{userNo}
		   and status='N'
	  </select>
	  
	  <select id="selectMtmList" parameterType="com.kh.teaspoon.member.model.vo.MenToMen" resultMap="selectMtm">
	  	SELECT *
		  FROM MEN_TO_MEN
		 WHERE USER_NO =#{userNo}
		   and status='N'
		 order by mtm_no desc
	  </select>
  	  
  	  <select id="selectMenToMen"  parameterType="com.kh.teaspoon.member.model.vo.MenToMen" resultMap="selectMtm">
  	 	select *
		  from Men_To_Men
		 where mtm_no=#{mno}
  	  </select>
  	  
</mapper>
