<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="storeMapper">
	
	<resultMap type="Product" id="ProductResultSet">
		<id column="product_no" property="productNo"/>
		<result column="product_name" property="productName"/>
		<result column="sup_price" property="supPrice"/>
		<result column="price" property="price"/>
		<result column="stock" property="stock"/>
		<result column="status" property="status"/>
		<result column="total_count" property="totalCount"/>
		<result column="product_origin" property="productOrigin"/>
		<result column="product_change" property="productChange"/>
		<result column="product_filepath" property="productFilepath"/>
		<result column="product_contents" property="productContents"/>
		<result column="kind" property="kind"/>
	</resultMap>
	
	<resultMap type="Review" id="ReviewResultSet">
		<id column="review_no" property="reviewNo"/>
		<result column="product_no" property="productNo"/>
		<result column="user_no" property="userNo"/>
		<result column="content" property="content"/>
		<result column="create_date" property="createDate"/>
		<result column="review_origin" property="reviewOrigin"/>
		<result column="review_change" property="reviewChange"/>
		<result column="review_filepath" property="reviewFilepath"/>
		<result column="rating" property="rating"/>
		<result column="review_status" property="reviewStatus"/>
		
		<result column="product_name" property="productName"/>
		<result column="user_id" property="userId"/>
		<result column="user_name" property="userName"/>
	</resultMap>
	
	
	
	
	
	<!--               관리자  / 상품관리                      -->
	
	<select id="selectProductListCount" resultType="_int">
		select count(*)
		  from product
		 where status='Y'
	</select>
	
	<select id="selectProductList" resultMap="ProductResultSet">
		select *
		  from product
		 order by product_no desc
	</select>
	
	<insert id="insertProduct" parameterType="Product">
		insert into product
		values(product_no.nextval, #{productName}, #{supPrice}, #{price}, #{stock}, 
			   default, default, #{productOrigin}, #{productChange}, #{productFilepath}, #{productContents}, #{kind})
	</insert>
	
	<select id="selectProduct" parameterType="_int" resultMap="ProductResultSet">
		select *
		  from product
		 where product_no=#{productNo}
	</select>

	<update id="updateProduct" parameterType="Product">
		update product 
		   set product_name=#{productName}, sup_price=#{supPrice}, price=#{price}, stock=#{stock},
		   	   product_origin=#{productOrigin}, product_change=#{productChange}, 
		   	   product_filepath=#{productFilepath}, product_contents=#{productContents}, kind=#{kind}
		 where product_no=#{productNo}
	</update>
	
	<update id="deleteProduct" parameterType="_int">
		update product 
		   set status='N'
		 where product_no=#{productNo}
	</update>
	
	
	
	
	
	
	<!--               관리자  / 리뷰관리                      -->
	
	<select id="selectReviewListCount" resultType="_int">
		select count(*)
		  from review
	</select>
	
	<select id="selectReviewList" resultMap="ReviewResultSet">
		select review_no, content, create_date, review_origin, review_change, review_filepath, rating, review_status, 
			   m.user_id, m.user_name, p.product_name
		  from review
		  join member m using (user_no)
		  join product p using (product_no)
		 order by review_no desc
	</select>
	
	<select id="selectReview" parameterType="_int" resultMap="ReviewResultSet">
		select review_no, content, create_date, review_origin, review_change, review_filepath, rating, reviewStatus, 
			   m.user_id, m.user_name, p.product_name
		  from review
		  join member m using (user_no)
		  join product p using (product_no)
		 where review_no=#{reviewNo}
	</select>
	
	
	<!--                        사용자 페이지                                           -->
	
	<select id="selectCoffeeListCount" resultType="_int">
		select count(*)
		  from product
		 where status='Y' and kind='c'
	</select>
	
	<select id="selectCoffeeList" resultMap="ProductResultSet">
		select * 
		  from product
		 where status='Y' and kind='c'
		 order by product_no desc
	</select>
	
	<select id="selectCoffee" resultMap="ProductResultSet" parameterType="_int">
		select *
		  from product
		 where status='Y' and kind='c' and product_no=#{productNo}
	</select>
	
	<select id="selectBest" resultMap="ProductResultSet">
		select * 
		  from (select *
		  		from product
	 	 		order by total_count desc)
	 	 <![CDATA[where rownum <= 16]]>
	</select>
	
	<select id="selectItemListCount" resultType="_int">
		select count(*)
		  from product
		 where status='Y' and kind='i'
	</select>
	
	<select id="selectItemList" resultMap="ProductResultSet">
		select * 
		  from product
		 where status='Y' and kind='i'
		 order by product_no desc
	</select>
	
	<select id="selectItem" resultMap="ProductResultSet" parameterType="_int">
		select *
		  from product
		 where status='Y' and kind='i' and product_no=#{productNo}
	</select>
	
	
</mapper>
